<!DOCTYPE html>
<html>
  <head>
    <title>WizzyMailer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
      <div class="container">
        <%= render 'layouts/messages' %>
        
        <%= yield %>
      </div>
    
  </body>
</html>
